<h1>Edit Article</h1>

<%= form_with model: @article, local: true, url: article_path(@article), method: :patch do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= form.fields_for :mon_images do |mon_image_fields| %>
  <div>
    <%= mon_image_fields.label :image %><br>
    <%= mon_image_fields.file_field :image, accept: [:jpg, :png, :jpeg] %>
    <%= mon_image_fields.hidden_field :_destroy %>
  </div>
<% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>