<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.mon_images.any? %>
  <%= image_tag @article.mon_images.first.image %>
<% end %>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>

   <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>