<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>


  function fetchArticle(id) {
    $.ajax({
      url: "/api/articles/"+id,
      type: 'GET',
      data: id,
      success: function(data) {
        console.log(JSON.stringify(data));
      }
    });
  }
  


  function createComment(_commenter, _body, _articleId, _status) {
    $.ajax({
      type: "POST",
      url: "/api/comments",
      data: {
        commenter: _commenter,
        body: _body,
        article_id: _articleId,
        status: _status
      },
      success: function() {
        console.log("SUCCESS");
      }
    });
  }

  function fetchComment(id) {
    $.ajax({
      url: "/api/comments/"+id,
      type: 'GET',
      data: id,
      success: function(data) {
        console.log(JSON.stringify(data));
      }
    });
  }







  function fetchComments(articleId) {
    $.ajax({
      url: "/api/comments",
      type: 'GET',
      data: {id: articleId},
      error: function() { 
        alert("ERROR");
      },
      success: function(data) {
        console.log(JSON.stringify(data));
      }
    });
  }

  function removeComment(id) {
    $.ajax({
      type: 'DELETE',
      url: "/api/comments/"+id,
      data: id
    });
  }

</script>

   


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= render 'layouts/navBar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>